.columns-container {
  background-color: lightyellow;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  margin: 0 auto;
  width: 1200px;
}

.column {
  border: 1px solid black;
}

.tweets {
  background-color: lightblue;
  font-size: 20px;
  height: 100px;
  margin: 20px;
}

#column1 {
  flex: 20;
}

#column2 {
  flex: 60;
}

#column3 {
  flex: 20;
}

iframe {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#ad1 {
  background-color: lightgreen;
  height: 400px;
  margin: 10px;
}

#ad2 {
  background-color: lightgreen;
  height: 400px;
  margin: 10px;
  margin-top: 70px;
}

#name {
  background-color: gray;
  font-size: 200%;
  font-weight: bold;
  height: 100px;
  margin: 50px;
  padding-left: 50px;
  padding-top: 10px;
  top: 60px;
}

#new-tweet {
height: 160px;
width: 95%;
background-color: lightblue;
margin: 0 auto;
margin-bottom: 80px;
}

h2 {
margin-left: 10px;
}

#text-box {
height: 50px;
width: 95%;
margin: 0 auto;
background-color: white;
}

#send-button {
border-style: solid;
border-color: black;
font-size: 30px;
margin-left: 450px;
margin-top: 10px;
height: 40px;
width: 150px;
border-radius: 15px;
}

#send-button:hover {
background-color: red;
}

#trending {
  background-color: pink;
  height: 400px;
  margin: 10px;
  margin-top: 300px;
}

#following {
  background-color: pink;
  height: 400px;
  margin: 10px;
  margin-top: 80px;
}
