.columns-container {
  background-color: lightyellow;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  margin: 0 auto;
  width: 1200px;
}

.column {
  border: 1px solid black;
}

.tweets {
  background-color: lightblue;
  font-size: 20px;
  margin: 20px;
}

.follow {
  display: flex;
  flex-direction: row;
}

.trend-topic {
  padding: 20px 0;
}

#column1 {
  flex: 20;
}

#column2 {
  flex: 60;
}

#column3 {
  flex: 20;
}

iframe {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

#ad1 {
  background-color: lightgreen;
  margin: 10px;
}

#ad2 {
  background-color: lightgreen;
  margin: 10px;
  margin-top: 70px;
}

#name {
  background-color: gray;
  font-size: 200%;
  font-weight: bold;
  margin: 50px;
  padding-left: 50px;
  padding-top: 10px;
  top: 60px;
}

#new-tweet {
  background-color: lightblue;
  margin: 0 auto;
  width: 95%;
}

h2 {
  margin-left: 10px;
}

#text-box {
  background-color: white;
  height: 50px;
  margin: 0 auto;
  width: 95%;
}

#send-button {
  border-color: black;
  border-radius: 15px;
  border-style: solid;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 450px;
  margin-top: 10px;
  width: 150px;
}

#send-button:hover {
  background-color: red;
}

#trending {
  background-color: pink;
  padding: 20px;
  margin-top: 300px;
}

#following {
  background-color: pink;
  padding: 20px;
  margin-top: 80px;
}

#following img {
  display: block;
  width: 100px;
}
